# =========================
# Manipulação de dados
# =========================
pandas>=2.2.0

# =========================
# Leitura de YAML
# =========================
PyYAML>=6.0.1

# =========================
# Utilitários
# =========================
python-dotenv>=1.0.1

